@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&family=Kumbh+Sans:wght@400;500;600;700;800&display=swap');

body{
    background-color: hsl(235, 21%, 11%);
    font-family: 'Josefin Sans', sans-serif;
}
main{
    display: grid;
    justify-content: center;
    padding-top: 1rem;
}
h1{
    padding-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 1.5rem;
    color: #fff;
}
input{
    width: 17.2rem;
    padding:0.9rem 0.8rem ;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
input:focus{
    outline-style: none;
    background-color: hsl(237, 14%, 26%);
    color:  #fff;
}
::placeholder{
    font-style: italic;
}
button{
    padding:0.9rem 1rem;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
ul{
    width: 21rem;
    margin-top: 1rem;
    border-radius: 3px;
}
span{
    display: flex;
    justify-content: space-between;
}
hr{
    width: 21rem;
    height: 1px;
    background-color: hsl(235, 9%, 27%);
}
p,span{
    padding: 1rem 0.7rem;
}
p,h1{
    text-align: center;
}
input,button,ul{
    background-color: hsl(235, 24%, 19%);
    color: hsl(236, 9%, 61%);
}
